.shopping-cart__item {
  &-title {
    display: flex;
    align-items: center;
    justify-content: center;

    .shopping-cart__item-fig img {
      flex: 0 0 5.8rem;
      border-radius: 50%;
      overflow: hidden;
      height: 3rem;
      padding: 0 1rem;
    }

    .shopping-cart__item-name {
      font-size: 1.45rem;
      color: $color-primary;
      text-transform: uppercase;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &-ingredients {
    margin: 2rem 0;
    li {
      width: 70%;
      margin: 0 auto;
      line-height: 3rem;
      font-size: 1.15rem;
      color: $color-grey-dark-2;
      text-transform: uppercase;
      font-weight: 600;
      list-style: none;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      input {
        margin-right: 1rem;
      }
    }
    .crossed {
      text-decoration: line-through;
      //   background-color: #444444;
    }
  }
}
